
@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Views/Shared/AdminLayout/Admin_Layout.cshtml";
}

<h2>AdminIndex</h2>
<h2>Welcome @(Request.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "") (Admin) </h2>

<label style="color:red;">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</label>
